{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section id='slide-show'>
	<div class="container-fluid">
  <div class="row">
    <div class="col">

      <!-- carousel code -->
      <div id="carouselExampleIndicators" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner skyblue">

          <!-- first slide -->
          <div class="carousel-item active" style=" background-image: url({%static 'images/image2.jpg' %}); background-size: cover;">
            <div class="carousel-caption d-md-block">
              <h3 data-animation="animated bounceInLeft">
                This is the caption for slide 1
              </h3>
              <h3 data-animation="animated bounceInRight">
                This is the caption for slide 1
              </h3>
              <button class="btn btn-primary btn-lg" data-animation="animated zoomInUp">Button</button>
            </div>
          </div>

          <!-- second slide -->
          <div class="carousel-item skyblue" style=" background-image: url({%static 'images/image4.jpg' %});">
            <div class="carousel-caption d-md-block">
              <h3 class="icon-container" data-animation="animated bounceInDown">
                <span class="fa fa-heart"></span>
              </h3>
              <h3 data-animation="animated bounceInUp">
                This is the caption for slide 2
              </h3>
              <button class="btn btn-primary btn-lg" data-animation="animated zoomInRight">Button</button>
            </div>
          </div>

          <!-- third slide -->
          <div class="carousel-item skyblue">
            <div class="carousel-caption d-md-block">
              <h3 class="icon-container" data-animation="animated zoomInLeft">
                <span class="fa fa-glass"></span>
              </h3>
              <h3 data-animation="animated flipInX">
                This is the caption for slide 3
              </h3>
              <button class="btn btn-primary btn-lg" data-animation="animated lightSpeedIn">Button</button>
            </div>
          </div>
        </div>

        <!-- controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      </div>

    </div>
  </div>
</div>



</section>





{% endblock %}

{% block javascript %}

<script>
	/* Demo Scripts for Bootstrap Carousel and Animate.css article
* on SitePoint by Maria Antonietta Perna
*/
(function($) {
  //Function to animate slider captions
  function doAnimations(elems) {
    //Cache the animationend event in a variable
    var animEndEv = "webkitAnimationEnd animationend";

    elems.each(function() {
      var $this = $(this),
        $animationType = $this.data("animation");
      $this.addClass($animationType).one(animEndEv, function() {
        $this.removeClass($animationType);
      });
    });
  }

  //Variables on page load
  var $myCarousel = $("#carouselExampleIndicators"),
    $firstAnimatingElems = $myCarousel
      .find(".carousel-item:first")
      .find("[data-animation ^= 'animated']");

  //Initialize carousel
  $myCarousel.carousel();

  //Animate captions in first slide on page load
  doAnimations($firstAnimatingElems);

  //Other slides to be animated on carousel slide event
  $myCarousel.on("slide.bs.carousel", function(e) {
    var $animatingElems = $(e.relatedTarget).find(
      "[data-animation ^= 'animated']"
    );
    doAnimations($animatingElems);
  });
})(jQuery);

</script>
{% endblock%}